<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

  <main role="main">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhdQCqsXvF4UYs_I4lYbPEzWSsqujPSMg" ></script>
    <ui:insert name ="content">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"></h1>
          <p:gmap id="gmap" center="23.382390, -102.291477" zoom="7" type="roadmap" style="width:100%;height:700px" onPointClick="handlePointClick(event);" widgetVar="map"/>
        </div >
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Tema 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Tema 2</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Tema 3</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
        </div>
        <hr/>
      </div>


    </ui:insert>
  </main>

</ui:composition>
