<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:p="http://primefaces.org/ui" xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #D9DFDF;;">
    <c:choose>
      <c:when test="#{userBean.isLogged() == true}">
        <a class="navbar-brand" href="index.xhtml">
          Mexicho
        </a>
      </c:when>
      <c:otherwise>
        <a class="navbar-brand" href="index.xhtml">
          Mexicho
        </a>
      </c:otherwise>
    </c:choose>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" />
    </button>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav ml-auto">
        <c:choose>
          <c:when test="#{userBean.isLogged() == true}">
            <div class="my-2 my-lg-0">
              <p:graphicImage value="#{userBean.fotografia}" width="48" height="48" />
              <button class="btn btn-primary" style="height:48px;">
                <i class="fa fa-sign-in" aria-hidden="true" />
                #{userBean.usuario.nombre}
              </button>
            </div>
            <div class="my-2 my-lg-0">
              <h:form id="exit">
                <h:commandButton action="#{loginController.logout()}" value="Cerrar Sesión"
                  class="btn btn-outline-success my-2 my-sm-0" style="height:48px;" />
              </h:form>
            </div>
          </c:when>
          <c:otherwise>
            <h:form id="myForm" class="form-inline my-2 my-lg-0">
              <h:inputText value="#{loginController.usuario}" required="true" id="Username" size="15"
                class="form-control mr-sm-2" a:placeholder="Correo Electrónico" />

              <h:inputSecret value="#{loginController.contraseña}" required="true" id="Password"
                class="form-control mr-sm-2" a:placeholder="Contraseña" />

              <h:commandButton action="#{loginController.login}" value="Inicia Sesión"
                class="btn btn-outline-success my-2 my-sm-0" />

            </h:form>
          </c:otherwise>
        </c:choose>
      </div>
    </div>

  </nav>
</ui:composition>