<ui:composition
                template="/WEB-INF/facelets/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">


<ui:define name="content">

  <main role="main">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhdQCqsXvF4UYs_I4lYbPEzWSsqujPSMg" ></script>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"></h1>
          <div class="my-2 my-lg-0">
            <p:graphicImage value="#{userBean.fotografia}" width="300" height="300" />
            <button class="btn btn-primary" style="height:48px;">
              <i class="fa fa-sign-in" aria-hidden="true" />
              #{userBean.usuario.nombre}
            </button>
          </div>
        </div >
          <div class="container">
            <h:form id="updateForm" enctype="multipart/form-data">
              <p:growl id="growl" showDetail="true" sticky="true" />
              <p:panel header="Registro de usuario">
                <p:panelGrid columns="2" layout="grid" style="padding: 5px">
                  <h:outputText value="Nombre de usuario:"/>
                  <p:inputText value="#{updateController.user.nombre}"
                               required="true"
                               id="Username"
                               size="40"/>
                  <h:outputText value="Fotografía:"/>
                  <p:fileUpload value="#{updateController.fotografia}"
                                mode="simple"
                                skinSimple="true"
                                fileUploadListener="#{updateController.fileUploadListener}"/>
                </p:panelGrid>
                <p:commandButton action="#{updateController.updateUser}"
                                 value="Actualizar"
                                 ajax="false"/>
                <p:commandButton value="Reset"
                                 update="myForm"
                                 process="@this"
                                 ajax="false">
                  <p:resetInput target="updateForm" />
                </p:commandButton>
              </p:panel>
           </h:form>
          </div>
      </div>

  </main>

</ui:define>

</ui:composition>
